.token_panel_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  color: rgb(12, 12, 12);
}

.tokens_box {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #cfd9f0;
  padding: 2em;
  height: 300px;
  width: 378px;
  overflow: scroll;
}

.header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2em;
}

.token_container {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5em;
}

.image_container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.image_placeholder_container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: linear-gradient(#ffd27c, #ffaa8f);
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.token_name_sybol_container {
  display: flex;
  column-gap: 0.5rem;
}
.token_name {
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 1em;
}

.token_info {
  display: flex;
  gap: 0.5em;
  font-weight: 700;
}

.coin_symbol {
  color: #4e4e4e;
}
